<!DOCTYPE html>
{% load static %}
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <title>TW Stock</title>
        <link rel="stylesheet" href="{% static 'twstyle.css' %}">
        
    </head>
<body>
    <header>
        <h1 class="title">股票查詢系統</h1>
        <nav>
            <ul>
                <li><a href="#">即時查詢</a></li>
                <li><a href="#two">查詢股票歷史</a></li>
                <li><a href="#">關於我們</a></li>
            </ul>
        </nav>
    </header>
    <!--即時查詢-->
    <section id="one">
        <div class="back_1"></div>

        <div class="stock_search"  align="center">
            <form action="" method="POST">
                {% csrf_token %}
                <br><br>
                <input type="search" name="Search" placeholder="請輸入股票代號" class="search_box"><br><br>
                <button type="submit" class="search">及時查詢</button>
            </form>
        </div>
        <div class="stock_main" >
            
                <div class="stock_data">股票名稱:<br>{{sname}}</div>
                <div class="stock_data">股票全名:<br>{{sfullname}}</div>
                <div class="stock_data">股票代號:<br>{{scode}}</div>
                <div class="stock_data">查詢時間:<br>{{stime}}</div>
            
                <div class="stock_data_1">最佳買入價:<br>{% for i in bib_price %} {{ i }} {% endfor %}</div>
                <div class="stock_data_1">最佳買入數量:<br>{% for i in bib_vol %} {{ i }} {% endfor %}</div>
                <div class="stock_data_1">最佳賣出價:<br>{% for i in ask_price %} {{ i }} {% endfor %}</div>
                <div class="stock_data_1">最佳賣出數量:<br>   {% for i in ask_vol %} {{ i }} {% endfor %}</div>
        </div>
    </section>
    <section id="two">
        <div class="back_2"></div>
        
        <div class="stock_select" align="center">
            <select>
                <option value="1303">1303</option>
                <option value="2303">2303</option>
                <option value="2308">2308</option>
                <option value="2317">2317</option>
                <option value="2330">2330</option>
                <option value="2412">2412</option>
                <option value="2454">2454</option>
                <option value="2881">2881</option>
                <option value="2882">2882</option>
                <option value="6505">6505</option>
            </select>
            <button type="submit" class="search_1">查詢</button>
        </div>
        <script type="text/javascript" src="{% static 'k.js' %}"></script>
    </section>

    
</body>    
</html>
